<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document...</title>
</head>

<body>

    <div class="background-container">

        <div id="app">
            <main class="big-container">
                <div class="d-flex h-100">

                    <aside class="sidebar h-100">

                        <!--------------- LEFT HEADER BAR --------------------->
                        <div class="left-header inner-header d-flex align-center justify-between w-100">
                            <div class="d-flex align-center">
                                <img class="rounded-profile-picture" src="img/avatar_2.jpg" alt="">
                                <span class="contact-name">Francesco</span>
                            </div>

                            <div class="icon-box">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>

                        <!-------------------- NOTIFICATION BAR --------------------->
                        <div class="notification-bar d-flex align-center w-100">
                            <div class="bell-icon">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div>
                                <span class="notification-text">Ricevi notifiche di nuovi messaggi</span>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>

                        <div class="search-bar d-flex align-center w-100">
                            <button class="button-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input v-model="inputFilter" class="input-search w-100" type="text" placeholder="Cerca o inizia una nuova conversazione" @keyup="filterArrayPerInput"/>
                        </div>

                        <!------------------ CONTACTS LIST ---------------------->
                        <div class="contact-list-container">
                            <ul>
                                <li v-for="(element, index) in contacts" v-show="element.visible == true">
                                    <div class="card d-flex align-center justify-between" @click="clickActiveContact(index)">
                                        <div class="d-flex align-center">
                                            <img class="rounded-profile-picture" :src="element.avatar" :alt="element.name">

                                            <div class="card-text-box">
                                                <h4 class="card-name">{{element.name}}</h4>
                                                <span class="card-last-message">{{element.messages[element.messages.length-1].message}}</span>
                                            </div>
                                        </div>
                                        <div class="last-seen">{{element.messages[element.messages.length-1].date}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>


                    <!---------------------- RIGHT HEADER BAR ------------------->
                    <div class="main-messages h-100">
                        <div class="right-header inner-header d-flex align-center justify-between">

                            <div class="d-flex align-center">
                                <img class="rounded-profile-picture" :src="contacts[selectedContact].avatar" :alt="contacts[selectedContact].name">

                                <div class="card-text-box">
                                    <h4 class="card-name">{{contacts[selectedContact].name}}</h4>
                                    <span class="card-last-message">Ultimo accesso oggi alle 12</span>
                                </div>
                            </div>

                            <div class="icon-box">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>

                        <!------------------ MESSAGES IN CURRENT CONVERSATION ------------------->
                        <div class="message-body">
                                <div v-for="(message, index) in contacts[selectedContact].messages" class="message-box" :class="(message.status == 'sent') ? 'sent-box':'recived-box'">
                                    <div class="message-card  dropdown" :class="(message.status == 'sent') ? 'sent-message':'recived-message'">
                                        <i @click="onClickVisible(index)" class="fa-solid fa-chevron-down"></i>
                                        <div :class="isVisible && currentMessage == index? 'd-block':''" class="dropdown-content">
                                            <div>Info messaggio</div>
                                            <div>Cancella Messaggio</div>
                                        </div>
                                        <p class="message-text">{{message.message}}</p>
                                        <div class="time-of-message">{{message.date}}</div>
                                    </div>
                                </div>
                        </div>

                        <!------------------------ WRITE NE MESSAGE --------------------------------->
                        <div class="input-bar d-flex align-center w-100">
                            <i class="fa-regular fa-face-smile"></i>
                            <input v-model="newMessage" @keyup.enter="pushMessage" class="message-input-box" type="text" placeholder="Scrivi un messaggio">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>



                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>